.contestInfo{
    height: 200px;
    width: 300px;
    background-color: black;
    color: white;
    padding: 10px;
    margin:5px 15px 15px 15px;
    float:right;    
}
.timer{
    float: left;
    margin: 0px 15px 15px 15px;
}

/* division */

.division1{
    width: 25%;
    height: 20vh;
    padding: 10px;
    position: absolute;
    background-color: black;
    color: white;
    left:3%;
    top: 24%;
    border-radius: 10px;
}
.division2{
    width: 25%;
    height: 20vh;
    padding: 10px;
    position: absolute;
    background-color: black;
    color: white;
    left:31%;
    top: 24%;
    border-radius: 10px;
}

