.textarea{
    overflow: auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 15px;
    margin-left:10px;    
}
select{
    margin: 10px;
    height: 20px;
    width:150px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.size1{
    width: 70%;
    height:70vh;
}
.size2{
    width:330px;
    height: 27vh;
    margin: 0px;
}
.pos1{
    position: absolute;
    top:13%;
    right:2%;
}
.loding{
    cursor: wait;
}
